{{> header}}

<div id="reports"></div>

<script>
    var table = new Tabulator("#reports", {
        ajaxURL: '/reports',
        layout: "fitColumns",
        resizableColumns: true,
        groupBy: "done",
        groupValues: [[false, true]],
        groupHeader: function (value, count, data, group) {
            return value ? 'Done' : ('Running (' + count + ')');
        },
        initialSort: [
            {column: "when", dir: "desc"},
        ],
        columns: [
            {title: "Test", field: "testName", widthGrow: 2, headerFilter: "input"},
            {title: "Instance", field: "instance", headerFilter: "input"},
            {title: "Status", field: "success", align: "center", formatter: "tickCross"},
            {title: "Type", field: "testType", headerFilter: "input"},
            {title: "RPS", field: "targetRps", sorter: "number"},
            {title: "<small>Iterations</small>", field: "iterations", sorter: "number"},
            {title: "<small>Duration, <br>minutes</small>", field: "duration", sorter: "number"},
            {
                title: "Valid",
                field: "valid",
                align: "center",
                formatter: "tickCross",
                formatterParams: {
                    allowEmpty: true,
                    allowTruthy: true,
                },
                cellClick: function (e, cell) {
                    let valid = cell.getValue();
                    let data = cell.getData();
                    let row = cell.getRow();

                    cell.setValue(!valid);
                    data.valid = !valid;

                    fetch('/reports', {
                        method: 'post',
                        body: JSON.stringify(data),
                    }).then(res => {
                        if (res.ok) {
                            row.getData();

                            return;
                        }

                        console.log(res.status);
                    });
                },
            },
            {
                title: "When",
                field: "when",
                formatter: function (cell) {
                    var value = cell.getValue();
                    if (value) {
                        return new Date(value).toLocaleDateString() + '<br>' + new Date(value).toLocaleTimeString();
                    }
                },
                sorter: "number",
                headerFilter: "input"
            },
            {
                title: "Description",
                field: "description",
                headerFilter: "input",
                widthGrow: 4,
                headerFilter: "input",
                editor: function (cell, onRendered, success, cancel) {
                    let data = cell.getData();

                    var input = document.createElement("input");

                    input.style.padding = "4px";
                    input.style.width = "100%";
                    input.style.boxSizing = "border-box";

                    input.value = cell.getValue();

                    let descriptionUri = '/description/' + data.id;
                    var submitDesciption = function (value) {

                        let data = cell.getData();
                        data.description = value;

                        fetch('/reports', {
                            method: 'post',
                            body: JSON.stringify(data),
                        }).then(res => {
                            if (res.ok) {
                                success(value);

                                return;
                            }
                            cancel();
                        });
                    }

                    onRendered(function(){
                        input.focus();
                        input.style.height = "100%";
                    });

                    //submit new value on blur
                    input.addEventListener("blur", function (e) {
                        if (input.value != cell.getValue()) {
                            submitDesciption(input.value)
                        } else {
                            cancel();
                        }
                    });

                    //submit new value on enter
                    input.addEventListener("keydown", function (e) {
                        if (e.keyCode == 13) {
                            submitDesciption(input.value)
                        }
                        if (e.keyCode == 27) {
                            cancel();
                        }
                    });

                    return input;
                },
            },
            {
                title: "",
                field: "",
                formatter: function (cell) {
                    var row = cell.getRow().getData();
                    var result = '';
                    if (row.done && row.reportPath) {
                        result += `<a href="${row.reportPath}" target="_blank">Report</a>`;
                    }
                    result += '&nbsp;';
                    if (row.logPath) {
                        result += `<a href="${row.logPath}">Log</a>`;
                    }

                    return result;
                }
            },
            {
                formatter: "buttonCross",
                cellClick: function (e, cell) {
                    if (!confirm('Are you sure to delete?')) {
                        return;
                    }

                    let data = cell.getData();
                    let deleteUri = '/reports/' + data.id;

                    fetch(deleteUri, {method: 'delete'})
                            .then(res => {
                                if (res.status === 400) {
                                    window.location.href = '/terminate/' + data.id;
                                    return;
                                }
                                if (res.ok) {
                                    //todo: for reset navbar
                                    location.reload();

                                    return;
                                }
                                //todo: error
                                console.log(res.status);
                            });
                },
                width: 30,
                hozAlign: "center"
            },
        ],
    });

    table.clearHeaderFilter(true);
    var filters = parseURISearchParams(window.location).filter || {};
    Object.keys(filters).map(filter => {
        table.setHeaderFilterValue(filter, filters[filter]);
    });

    // TODO if data changed - show button with reload.
    // setInterval(function () {
    //     table.replaceData();
    // }, 5000);

</script>

{{> footer}}
